Gmail AI reply.json
{
  "name": "Gmail AI reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f4303156-48f8-41d9-aa41-df9669a87b75",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "4EKAW8Tjtsrady1u",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "32379313-8ed1-4ca5-a982-5875aa1490d0",
      "name": "Get a message",
      "webhookId": "287cade0-088c-4f89-8892-f2580430058b",
      "credentials": {
        "gmailOAuth2": {
          "id": "4EKAW8Tjtsrady1u",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email responding agent.\n\nBelow are the content of latest email:\n\nSubject:  {{ $json.Subject }}\nBody: {{ $json.snippet }}\n\nyou have to do 2 things ,\n1. specify the label based on email\nuse the tool to grt all the labels and their id and mention both of them properly.\n\nbelow are the labels,\ntest,\ndoubts\n\n\n2.As a samrt assistant you have to draft me a response mail , so that i can reply to my email. reply with subject and body.\n\nMake sure the reply satisfies the student's doubt in detail with example ,          and respond respectfully, also make sure that the reply follows strict html format, so it can be easily redable",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "065ccc29-2885-4fb0-95e3-3e83b6b31f35",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "d452030e-a704-4bd1-af81-cdac06efda20",
      "name": "OpenAI Chat Model",
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "zHSt2AxC8WyMCbxp",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"label\": \"doubt\",\n  \"label_id\": \"12345678\",\n  \"subject\":\"doubt clarification\",\n  \"reply\": \"Thank you for reaching out\" \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        672,
        208
      ],
      "id": "b5de66cc-3f80-4a65-b359-da0bb89791b5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "5a8bb1e4-9947-4f37-a745-a89ed287237b",
      "name": "Add label to message",
      "webhookId": "be00a4cf-dd7c-4814-a32d-92c4b136b601",
      "credentials": {
        "gmailOAuth2": {
          "id": "4EKAW8Tjtsrady1u",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        480,
        224
      ],
      "id": "b0026835-3c61-4ac3-b990-f81c1357b1c0",
      "name": "Get many labels in Gmail",
      "webhookId": "40f99dbd-aadb-4e07-b42a-3e31b756e34f",
      "credentials": {
        "gmailOAuth2": {
          "id": "4EKAW8Tjtsrady1u",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailType": "html",
        "message": "={{ $('AI Agent').item.json.output.reply }}",
        "options": {
          "threadId": "={{ $json.threadId }}",
          "sendTo": "={{ $('Get a message').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        0
      ],
      "id": "416413e6-e4be-433a-aad3-18da8ddaab9a",
      "name": "Create a draft",
      "webhookId": "7e85511f-4a12-4276-b290-7322196bc8a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "4EKAW8Tjtsrady1u",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Project Description\n- This project is an AI-powered email automation workflow built using n8n that helps automatically handle incoming Gmail queries. Whenever a new email arrives, the workflow fetches the full message content, sends it to an AI Agent, and generates an intelligent reply draft based on the email context.\n- The AI Agent analyzes the subject + email body, understands the user’s query, and prepares a professional response. The workflow also automatically applies a suitable Gmail label to categorize the email (example: test, doubts). Finally, the system creates a Gmail draft reply, so the user can review and send it quickly.\n- This reduces manual effort in responding to repeated queries, improves response speed, and ensures consistent email replies using AI.\n## Workflow Steps\n- Gmail Trigger – Detects new incoming emails\n- Get a Message – Fetches full email details (subject, body, sender, etc.)\n- AI Agent (OpenAI Chat Model) –\n-- Understands the query\n-- Generates the best reply message\n-- Suggests the correct Gmail label\n- Add Label to Message – Categorizes the email automatically\n- Create Draft – Saves AI-generated reply as a Gmail draft",
        "height": 624,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        -112
      ],
      "id": "022087b0-6572-41f0-a003-187071f2ed85",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19c037e2cde7fe71",
          "threadId": "19c037d7ea6a5e96",
          "snippet": "Hello sir, can u help me with mastering ai agents in n8n",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 646,
          "historyId": "40415",
          "internalDate": "1769585126000",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            },
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "Subject": "Doubt",
          "From": "Shiny Zerubba <shinyzeru@gmail.com>",
          "To": "Shiny Zerubba <shinyzeru@gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": {
            "label": "doubts",
            "label_id": "Label_4933477573215228605",
            "subject": "Re: Doubt",
            "reply": "<html><body><p>Dear Student,</p><p>Thank you for reaching out with your doubt about mastering AI agents in n8n. I'd be happy to help you understand this better.</p><p>n8n is an open-source workflow automation tool that allows you to automate tasks by connecting various services. Mastering AI agents in n8n involves creating workflows that utilize AI capabilities, such as natural language processing or machine learning, to perform intelligent tasks.</p><p>For example, you can create an AI agent in n8n that automatically responds to emails. Here's a simple way to do this:</p><ol><li>Use the <strong>Email Trigger</strong> node to catch incoming emails.</li><li>Connect it to an <strong>AI Integration</strong> node, such as OpenAI, to generate a response based on the email content.</li><li>Then link it to an <strong>Email Send</strong> node to reply to the sender automatically.</li></ol><p>This basic workflow can be extended with more sophisticated AI models and logic depending on your requirements.</p><p>To master AI agents, practice creating different workflows, experimenting with various AI nodes, and exploring n8n's documentation and community examples.</p><p>If you have more specific questions or need guidance on a particular use case, feel free to ask.</p><p>Best regards,<br>Your Instructor</p></body></html>"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9a2a9cb7-8051-4eb4-8f28-ed364bf188e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4e775e6a7b8123fa3f649cc3a23ad16ec8120835d149a7b65c7ef85ed0f2264"
  },
  "id": "tQHCK5zM3m9SkRt8fJw_p",
  "tags": []
}